.side
  %ul.side__function
    %li.li_mypage
     
      = link_to root_path ,class: "list" do
        %i.fas.fa-home.icon 
        ="home"
    %li 
      = link_to new_post_path,class: "list" do
        %i.fas.fa-pen-square.icon
        = "post write"
    %li
      = link_to "#", class: "list" do
        %i.fas.fa-envelope.icon
        ='message'
    %li
      = link_to new_group_path, class: "list" do
        %i.fas.fa-object-group.icon
        ='group'
    %li
      = link_to search_posts_path, class: "list" do
        %i.fas.fa-search-plus.icon
        ='search'
    %li
      = link_to  user_path(current_user.id),class: "list" do
        %i.fas.fa-bars.icon
        = 'mypage'
    %li
      = link_to  edit_user_registration_path,class: "list" do
        %i.fas.fa-user-edit.icon
        = 'edit acount'
      
    %li
      =link_to destroy_user_session_path,method: :delete,class: "list" do
        %i.fas.fa-sign-out-alt.icon
        = 'Log out'

    =form_with(url:search_posts_path, local: true, method: :get) do |f|
      .listsearch
        = f.text_field :word,placeholder: '記事を検索する'
        = f.label :kensaku do
          %i.fas.fa-search.icon
          = f.submit 'kensku',id: 'kensaku'