.mypage
  = render partial: 'side'
  .mypage__wrraper
    .main
      .main__top
        .main__top__header
          - if @user.image?
            = image_tag asset_path(@user.image.url), class: 'main__top__header__image'
          - else 
            = image_tag asset_path("log/bctalk.png"), class: 'main__top__header__image'
      

          .main__top__header__name
            %p
              =@user.nickname
              %br/
            %span 
              所属業界
              =@user.industry.name
              %br/
            %span 
              職種
              =@user.occupation.name

            .follow
              %span 
                &nbsp;
                ="#{@following_count} : " 
              =link_to "following",following_relationship_path(@user.id)
              %span
                &nbsp;
                =" #{@follower_count} : "
              =link_to "followers",follower_relationship_path(@user.id)

        .main__top__profile 
          %span
            -unless current_user.profile
              ="プロフィールを入力してください"
              %br/
              ="このアプリは友人や家族など近い故に吐き出すことができない"
              %br/
              ="自分の弱さ、他人にだから話せるような"
              %br/
              = "会社や上司からの不条理、業界のふまんなどを記事にして"
              %br/
              ="他者と共有する場所です"
            -else
              =current_user.profile
      .main__button
        %button 
          %span 記事リスト
      .main__list
        -@posts.each do |post|
          =link_to post_path(post.id), class:'list' do
            -if post.images.empty?
              = image_tag asset_path("log/bctalk.png"),class: 'list__image'
            -else
              = image_tag asset_path(post.images[0].src),class: 'list__image'
            %ul.list__product
              %li.list__product__title
                %span
                  =post.title 
                %span 
                  =post.user.industry.name
                %span 
                  =post.user.occupation.name
              %li.list__product__content
                %p
                  = markdown(post.content).html_safe
