.mypage
  = render partial: 'side'
  .mypage__wrraper
    .main
      .main__top
        - if @user.image?
          = image_tag asset_path(@user.image.url), class: 'main__top__image'
        - else 
          = image_tag asset_path("log/bctalk.png"), class: 'main__top__image'
        .main__top__name
          %span 
            =current_user.nickname
        .main__top__profile
          %span 
            =current_user.profile
      .main__button
        %button 
          %span 記事リスト
      .main__list
        -@posts.each do |post|
          =link_to post_path(post.id), class:'list' do
            -if post.images.empty?
              = image_tag asset_path("log/bctalk.png"),class: 'list__image'
            -else
              = image_tag asset_path(post.images[0].src),class: 'list__image'
            %ul.list__product
              %li.list__product__title
                %span
                  =post.title 
                %span 
                  =post.user.industry.name
                %span 
                  =post.user.occupation.name
              %li.list__product__content
                %span
                  =post.content
