.header
  .header__title
    = link_to 'bctalk',root_path
  .header__user
    -if user_signed_in?
      .header__user__info 
        %span.name
          = current_user.nickname
        = link_to user_path(current_user.id) do
          %i.fas.fa-bars.icon
        = link_to destroy_user_session_path,method: :delete do
          %i.fas.fa-sign-out-alt.icon
    - else
      .header__user__info
        = link_to new_user_session_path do
          %i.fas.fa-sign-in-alt.icon
        = link_to new_user_registration_path do
          %i.fas.fa-user-plus.icon