.indexwrap
  = render partial: 'user/side'
  - unless @posts.empty?
    .contents
      .post

        .post__title
          %span 自分の業界を誰かに共有しよう
        %hr/
        - unless @first_post
          .post__top
            .post__top__nav
              .post__top__nav__title
      
        -else 
          .post__top
            .post__top__nav
              =link_to post_path(@first_post.id),class:'post__top__nav__title' do
                =@first_post.title
              .post__top__nav__body
                = markdown(@first_post.content).html_safe
              .post__top__nav__user
                =@first_post.user.nickname
                =@first_post.user.industry.name
                =@first_post.user.occupation.name
                ="いいね数:#{ @first_post.likes.count}"
            - unless @first_post.images.empty?
              = image_tag asset_path(@first_post.images[0].src),class:'post__top__image'
            - else 
              = image_tag asset_path("log/bctalk.png"), class: 'post__top__image'
        
              
        
        %hr/
        .post__contents
          - @posts.each do |post|
            .post__contents__article
              =link_to user_path(post.user.id)  do
                -if post.images.empty?
                  = image_tag asset_path("log/bctalk.png"),class: 'post__contents__article__image'
                -else
                  = image_tag asset_path(post.images[0].src),class: 'post__contents__article__image'
              =link_to post_path(post.id) do
                .post__contents__article__body 
                  = post.title
              =link_to post_path(post.id) do
                .post__contents__article__user
                  %span 
                    =post.user.industry.name
                  %span 
                    =post.user.occupation.name
                  %span
                    ="いいね:"
                    =post.likes.count
                    

      = paginate @posts
  - else 
    .contents
      .post

        .post__title
          %span お探し記事はございません

    
  