.post_show
  =render partial: 'user/side'
  .show
    .show_head
      .show_head__profile
        -if @post.user.image?
          = image_tag asset_path(@post.user.image.url), class: 'show_head__profile__image'
        - else 
          = image_tag asset_path("log/bctalk.png"), class: 'show_head__profile__image'
        .show_head__profile__nickname
          =@post.user.nickname
      .show_head__right
        .show_head__right__title
          =@post.title
        .show_head__right__data
          .show_head__right__data__right
            ="黒いいね数:#{ @post.likes.count}"
            - if current_user.already_liked?(@post.id)
              =button_to "クロいいくない", post_like_path(@post.id), method: :delete
            -else
              = button_to "クロいい", "/posts/#{@post.id}/likes"
          .show_head__right__data__left
            ="所属業界 : #{@post.user.industry.name}"
            %br/
            ="業種 : #{@post.user.occupation.name}"
    .show_content
      = markdown(@post.content).html_safe
    .show_comment
      .follow__content
        -unless @comments.empty?
          -@comments.each do |c|
            .follow__content__box
              .follow__content__box__profile
                .follow__content__box__profile__top
                  =link_to user_path(user.id) do
                    -if c.user.image
                      =image_tag asset_path(c.user.image),class:'image'
                    - else 
                      =image_tag asset_path('log/bctalk.png'),class:'image'
                  .profile
                    .name
                      = c.user.nickname
                    %span
                      = "業界 : #{c.user.industry.name}"
            
                    %span
                      = "職種 : #{c.user.occupation.name}"
              %hr/
              .follow__content__box__bottom
                =c.user.profile
          










    -if current_user.id == @post.user.id 
      .show_form
        .show_form__edit
          =link_to edit_post_path(@post.id) do
            %i.fas.fa-edit.icon
        .show_form__delete
          =link_to post_path(@post.id) ,method: :delete do
            %i.fas.fa-trash.icon
    -else
      .show_bottom
        .show_bottom__left
          .show_bottom__left__follow
            - unless current_user == @post.user
              - if current_user.following?(@post.user)
                = form_for(current_user.relationships.find_by(follow_id: @post.user.id), html: { method: :delete }) do |f|
                  = f.hidden_field :follow_id, value: @post.user.id
                  = f.submit 'フォロー中', class: 'follow-now'
              - else
                = form_for(current_user.relationships.build) do |f|
                  = f.hidden_field :follow_id, value: @post.user.id
                  = f.submit 'フォロー', class: 'follows'
          
        .show_bottom__input
          = form_with() do |f|
            = f.text_area :content, placeholder: "comment",class: "show_bottom__input__form" 
            =f.label :submit do
              %i.fas.fa-pencil-alt.icon
              =f.submit "毒を吐く",id: 'submit'


