.editwra
  =render partial: "user/side"
  .form
    %h2
      account edit
    .form__box
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .form__box__top
          .title
            =f.label :nickname
            %br/
            = f.text_field :nickname
          .submit
            =f.label :edit_submit do
              %i.fas.fa-user-edit.icon
              = f.submit 'update',id:"user_edit_submit"
        .form__box__body
          =f.label :images,"image" do
            %i.fa.fa-image.icon
            = f.file_field :image,id:'user_images'
          

          = f.text_area :profile,class: 'form__box__body__profile' 


