.editwra
  =render partial: "user/side"
  .form
    %h2
      account edit
    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .form__box
        = f.text_field :nickname,wrapper: { class: 'form__box__nickname' }

        = f.file_field :image,wrapper: { class: 'form__box__image' }

        = f.text_area :profile, label:"profile",wrapper: { class: 'form__box__profile' }

        = f.submit 'update',class:'update'

